#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [ ]:
# Write a code here

In [2]:
import pandas as pd

In [19]:
a={"d":4,"b":7,"a":-5,"c":3}
ind=["d","b","a","c","e"]

In [21]:
pd.Series(a,index=ind)

d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64

In [61]:
a=[1,2,3,4]
a=pd.Series(a)
a

0    1
1    2
2    3
3    4
dtype: int64

In [38]:
a.isnull()

0    False
1    False
2    False
3    False
dtype: bool

In [39]:
a.notnull()

0    True
1    True
2    True
3    True
dtype: bool

In [62]:
#a[4]="gowno"
a

0    1
1    2
2    3
3    4
dtype: int64

In [73]:
a[1]==3

False

In [64]:
a.rank(ascending = False)

0    4.0
1    3.0
2    2.0
3    1.0
dtype: float64

In [69]:
data=[0.85, 0.8, 0.98, 0.74, 0.4, 0.55, 0.94, 0.42, 0.43, 0.92]
ser=pd.Series(data=data) 
ser.sort_values(ascending=False)

2    0.98
6    0.94
9    0.92
0    0.85
1    0.80
3    0.74
5    0.55
8    0.43
7    0.42
4    0.40
dtype: float64

In [74]:
import numpy as np
data=np.arange(10)
new_ser=pd.Series(data=data)
new_ser[new_ser==5]

5    5
dtype: int32

In [81]:
a=pd.Series([1,2,3,4,"o"])
a

0    1
1    2
2    3
3    4
4    o
dtype: object

In [82]:
a

0    1
1    2
2    3
3    4
4    o
dtype: object

In [89]:
a[a==4]

3    4
dtype: object