In [14]:
import pandas as pd
import numpy as np
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [16]:
df=pd.read_csv('Advertising.csv')

In [18]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [25]:
df.drop("Unnamed: 0", axis=1,inplace=True)

In [24]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [35]:
sales=df["Sales"].values.reshape(len(df),1)
tv=df["TV"].values.reshape(len(df),1)
radio=df["Radio"].values.reshape(len(df),1)
newspapers=df["Newspaper"].values.reshape(len(df),1)

In [42]:
tv_model=linear_model.LinearRegression()
tv_model.fit(tv,sales)

LinearRegression()

In [68]:
coef_tv=np.array(list(tv_model.intercept_.flatten())+list(tv_model.coef_.flatten()))

In [72]:
coef_tv=list(coef_tv)
coef_tv

[7.032593549127693, 0.047536640433019764]

In [75]:
newspaper_model=linear_model.LinearRegression()
newspaper_model.fit(newspapers,sales)

LinearRegression()

In [85]:
coef_news=np.array(list(newspaper_model.intercept_.flatten())+list(newspaper_model.coef_.flatten()))
coef_news=list(coef_news)
coef_news

[12.35140706927816, 0.05469309847227336]

In [86]:
radio_model=linear_model.LinearRegression()
radio_model.fit(radio,sales)

LinearRegression()

In [89]:
coef_radio=np.array(list(radio_model.intercept_.flatten())+list(radio_model.coef_.flatten()))
coef_radio=list(coef_radio)
coef_radio

[9.311638095158283, 0.20249578339243965]

In [91]:
dict_sales={}

In [98]:
dict_sales["tv"]=coef_tv
dict_sales

{'tv': [7.032593549127693, 0.047536640433019764]}

In [100]:
dict_sales["radio"]=coef_radio
dict_sales

{'tv': [7.032593549127693, 0.047536640433019764],
 'radio': [9.311638095158283, 0.20249578339243965]}

In [103]:
dict_sales["news"]=coef_news
dict_sales

{'tv': [7.032593549127693, 0.047536640433019764],
 'radio': [9.311638095158283, 0.20249578339243965],
 'news': [12.35140706927816, 0.05469309847227336]}

In [105]:
metric=pd.DataFrame(dict_sales)

In [111]:
metric.index=["interc","coef"]
metric

              tv     radio       news
interc  7.032594  9.311638  12.351407
coef    0.047537  0.202496   0.054693

In [119]:
metric.loc['r-squared']=[tv_model.score(tv,sales),radio_model.score(radio,sales),newspaper_model.score(newspapers,sales)]

In [121]:
metric

                 tv     radio       news
interc     7.032594  9.311638  12.351407
coef       0.047537  0.202496   0.054693
r-squared  0.611875  0.332032   0.052120